/* font-family: 'DM Sans', sans-serif; 400, 700 */
body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: hsl(27, 66%, 92%);
}

/* Main */
.expanse-report-container {
  width: 338px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}

.current-balance {
  background-color: hsl(10, 79%, 65%);
  color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.current-balance > div:first-of-type {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.current-balance > div:first-of-type > span {
  font-size: 24px;
  font-weight: 700;
}

.balance-icon {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  background-color: hsl(25, 47%, 15%);
}

#inner-circle {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -20px;
  top: 0;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}

.graph-container {
  padding: 2rem 1.5rem;
  border-radius: 10px;
  background-color: hsl(33, 100%, 98%);
}

.graph-container > h2 {
  font-size: 24px;
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}

#graph {
  margin: 1rem 0;
  border-bottom: 2px solid hsl(27, 66%, 92%);
}

#graph > ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0 1.5rem 0;
}

#graph > ul > li {
  display: flex;
  flex-direction: column;
  width: 35px;
  text-align: center;
  font-size: 14px;
  color:hsl(28, 10%, 53%);
}

.bar {
  width: 100%;
  background-color: hsl(10, 79%, 65%);
  border-radius: 3px;
  margin-bottom: .75rem;
}

#monday > .bar {
  height: 60px;
}

#tuesday > .bar {
  height: 110px;
}

#wednesday > .bar {
  height: 160px;
  background-color: hsl(186, 34%, 60%);
}

#thursday > .bar {
  height: 100px;
}

#friday > .bar {
  height: 75px;
}

#saturday > .bar {
  height: 130px;
}

#sunday > .bar {
  height: 85px;
}

.balance-this-month {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  color: hsl(28, 10%, 53%);
  font-size: 16px;
}

.balance-this-month span {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}

.balance-this-month > div:first-of-type {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.balance-this-month > div:first-of-type > span {
  font-size: 32px;
}

.balance-this-month > div:last-of-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: end;
}

.balance-this-month > div:last-of-type > span {
  display: block;
}

@media (min-width: 576px) {
  .expanse-report-container {
    width: 475px;
    margin: 0;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #graph > ul > li {
    width: 45px;
  }
}